.formcontainer {
    width: 1000px;
    padding: 5px;
}

.formlabel {
    display: inline-block;
    width: 100px;
    text-align: right;
    padding: 5px;
}
.error {
    color: red;
    padding-left: 5px;
}

table, th, td {
  border: 1px solid white;
  text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #bfbfbf;
}

.img-container {
  float: left;
  width: 40%;
  padding: 20px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

img[src="#"] {
  display:none;
}



h1,h2 {
  color: #ffffff;
}

label {
  color: #ffffff;
}

#text1 {
  color: #ffffff;
}

#text2 {
  color: #ffffff;
}